In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_items = pd.read_csv('datasets/Best_seller.csv')

In [3]:
df_items.head()

,ID,best_seller,price,image,bracelet,ring,necklace,earring,choker,pendant,...,sapphires,agate,quartzite,gemstones,spinel,onyx,gem_sum,diamonds,ruby,cry_sum
0,0.0,1.0,SR485,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,1.0,SR620,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2.0,1.0,SR370,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,1.0,SR370,['https://cdn.tous.com/media/catalog/product/c...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,1.0,"SR1,300",['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [4]:
df_items.shape

(337, 44)

In [5]:
df_items.columns

Index(['ID', 'best_seller', 'price', 'image', 'bracelet', 'ring', 'necklace',
       'earring', 'choker', 'pendant', 'mesh', 'gold', 'silver', 'white',
       'titanium', 'ip', 'rose', 'steel', 'oxidized', 'mat_sum', 'pearl',
       'chalcedony', 'rhodonite', 'opal', 'beryllium', 'morganite', 'citrine',
       'topaz', 'praseolite', 'carnelian', 'amethyst', 'malachite',
       'amazonite', 'labradorite', 'sapphires', 'agate', 'quartzite',
       'gemstones', 'spinel', 'onyx', 'gem_sum', 'diamonds', 'ruby',
       'cry_sum'],
      dtype='object')

In [6]:
use_col = ['bracelet', 'ring', 'necklace',
       'earring', 'choker', 'pendant', 'mesh', 'gold', 'silver', 'white',
       'titanium', 'ip', 'rose', 'steel', 'oxidized', 'pearl',
       'chalcedony', 'rhodonite', 'opal', 'beryllium', 'morganite', 'citrine',
       'topaz', 'praseolite', 'carnelian', 'amethyst', 'malachite',
       'amazonite', 'labradorite', 'sapphires', 'agate', 'quartzite',
       'gemstones', 'spinel', 'onyx', 'diamonds', 'ruby']

In [7]:
df_rec = df_items[use_col]

In [8]:
from sklearn.preprocessing import normalize

In [9]:
normed_data = normalize(df_rec)

In [10]:
df_rec.head()

,bracelet,ring,necklace,earring,choker,pendant,mesh,gold,silver,white,...,amazonite,labradorite,sapphires,agate,quartzite,gemstones,spinel,onyx,diamonds,ruby
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
from sklearn.metrics.pairwise import linear_kernel

# will calculate similarity between rows between data above, each row and columns represent id of items
cosine_sim = linear_kernel(normed_data, normed_data)

In [12]:
cosine_sim.shape

(337, 337)

In [13]:
df_sim = pd.DataFrame(cosine_sim, index=df_items.ID, columns=df_items.ID)

In [14]:
df_sim.head()

ID,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,327.0,328.0,329.0,330.0,331.0,332.0,333.0,334.0,335.0,336.0
ID,,,,,,,,,,,,,,,,,,,,,
0.0,1.000000,1.000000,0.866025,0.353553,0.75000,0.75000,0.577350,0.577350,0.353553,0.353553,...,0.353553,0.353553,0.353553,0.577350,0.353553,0.000000,0.000000,0.353553,0.353553,0.353553
1.0,1.000000,1.000000,0.866025,0.353553,0.75000,0.75000,0.577350,0.577350,0.353553,0.353553,...,0.353553,0.353553,0.353553,0.577350,0.353553,0.000000,0.000000,0.353553,0.353553,0.353553
2.0,0.866025,0.866025,1.000000,0.408248,0.57735,0.57735,0.666667,0.666667,0.408248,0.408248,...,0.408248,0.408248,0.408248,0.333333,0.408248,0.000000,0.000000,0.408248,0.408248,0.408248
3.0,0.353553,0.353553,0.408248,1.000000,0.00000,0.00000,0.000000,0.000000,1.000000,1.000000,...,0.500000,0.500000,0.500000,0.408248,0.500000,0.000000,0.000000,0.500000,0.500000,0.500000
4.0,0.750000,0.750000,0.577350,0.000000,1.00000,1.00000,0.866025,0.866025,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.288675,0.000000,0.353553,0.353553,0.000000,0.000000,0.000000

In [15]:
def get_rec(Id):
    similar = df_sim[Id].sort_values(ascending=False).drop(Id)
    return similar.index[:5]

In [16]:
get_rec(1.0)

Float64Index([0.0, 166.0, 38.0, 17.0, 29.0], dtype='float64', name='ID')

In [17]:
# These are the best related items with 1.0 

df_items.iloc[get_rec(1.0)]

,ID,best_seller,price,image,bracelet,ring,necklace,earring,choker,pendant,...,sapphires,agate,quartzite,gemstones,spinel,onyx,gem_sum,diamonds,ruby,cry_sum
0,0.0,1.0,SR485,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
166,166.0,0.0,SR570,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
38,38.0,1.0,SR650,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17,17.0,1.0,SR410,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,29.0,1.0,SR320,['https://cdn.tous.com/media/catalog/product/c...,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0